#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
    color: #f1eceb !important;
    background-color: transparent;
}

.img-fluid,
.img-thumbnail {
    max-width: none;
    width: 100% !important;
    height: auto;
}

.redline {
    height: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.imgservice {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 50%;
    color: azure;
    background: rgba(0, 0, 0, 0.7);
}

section {
    padding: 5rem 0;
}

.mbl {
    height: 300px;
    padding-top: 50px;
}

@media (max-width: 768px) {
    #about {
        height: 50%;
        background-image: url();
    }

    .myheader {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .mbl {
        background-color: #55AEFF;
        color: white;
    }
}

.myheader {
    background-color: #55AEFF;
    background-image: url('assets/img/logo.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    height: 100%;
    color: #fff;
}

@media (max-width: 768px) {
    .myheader {
        height: 50%;
        background-image: none;
        padding-top: 30px;
    }

    .navbar-nav {
        background-color: #1A2E3A;
        text-align: center;
        padding-bottom: 5px;
    }
}

.dotted {
    border-top: 2px dotted rgb(255, 255, 255);
    border-bottom: 2px dotted #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.proportions-box-square {
    position: relative;
    padding: 100% 0 0 !important;
    height: 0;
}

.proportions-box-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.background-left-top {
    background-position: left top;
}

.background-left-center {
    background-position: left center;
}

.background-left-bottom {
    background-position: left bottom;
}

.background-right-top {
    background-position: right top;
}

.background-right-center {
    background-position: right center;
}

.background-right-bottom {
    background-position: right bottom;
}

.background-center-top {
    background-position: center top;
}

.background-center-center {
    background-position: center center;
}

.background-center-bottom {
    background-position: center bottom;
}

.border-width-1 {
    border-width: 1px !important;
}

.border-width-2 {
    border-width: 2px !important;
}

.border-width-3 {
    border-width: 3px !important;
}

.border-width-4 {
    border-width: 4px !important;
}

.border-width-6 {
    border-width: 6px !important;
}

.border-width-8 {
    border-width: 8px !important;
}

.border-width-12 {
    border-width: 12px !important;
}

.border-width-16 {
    border-width: 16px !important;
}

.border-width-24 {
    border-width: 24px !important;
}

.image-fit {
    object-fit: contain;
    object-position: center center;
}

.image-fit-left-top {
    object-position: left top;
}

.image-fit-left-center {
    object-position: left center;
}

.image-fit-left-bottom {
    object-position: left bottom;
}

.image-fit-right-top {
    object-position: right top;
}

.image-fit-right-center {
    object-position: right center;
}

.image-fit-right-bottom {
    object-position: right bottom;
}

.image-fit-center-top {
    object-position: center top;
}

.image-fit-center-center {
    object-position: center center;
}

.image-fit-center-bottom {
    object-position: center bottom;
}

.transition {
    transition: all 0.25s ease-in;
}

.transition-slow {
    transition: all 0.5s ease-in;
}

.transition-very-slow {
    transition: all 1s ease-in;
}

.line-height-1 {
    line-height: 1 !important;
}

.opacity-100 {
    opacity: 1 !important;
}

.opacity-85 {
    opacity: 0.85 !important;
}

.opacity-75 {
    opacity: 0.75 !important;
}

.opacity-50 {
    opacity: 0.50 !important;
}

.opacity-25 {
    opacity: 0.25 !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.telep h3 {
    font-size: 38px;
    line-height: 44px;
    font-weight: 400;
}

.telep p {
    font-size: 22px;
}

@media (max-width:991px) {
    .btn {
        font-size: 18px;
        font-weight: 400;
    }

    .telep {
        padding-left: 10px;
        padding-right: 10px;
    }

    .telep h3 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 400;
    }

    .telep p {
        font-size: 12px;
        font-weight: 200;
    }
}

.ptit {
    font-size: 10px;
}

.ptele {
    margin: 0px;
    font-size: 18px;
}

div.fixed-top.mnav {
    height: 70px;
    background-color: #212529;
}

div.fixed-top.mnav div.flex-row {
    background-color: #212529;
}

div.flex-row div.container.text-white {
    text-align: right;
    background-color: #212529;
    height: 70px;
    padding-right: 2rem;
}

div.fixed-top.mnav nav#mainNav.navbar.p-0.navbar-dark {
    margin-top: 40px;
    background-color: #212529;
    height: 40px;
}

div#page-top.container a.navbar-brand.text-light.js-scroll-trigger {
    align-content: center;
}

div.container div.row div.col.offset-lg-8.mx-auto.text-center {
    height: 30px;
}

div.row.how.mserv div.col-md-6.col-lg-3.text-center.aos-init.aos-animate {
    background: url(assets/img/podbor-auto-pod-kljuch.png) center / cover no-repeat;
    margin-right: 0px;
    border: 5px solid rgb(255, 255, 255);
}

div.text-dark.mx-auto.service-box.mt-5 {
    background: #f9e814;
}

div.text-dark.mx-auto.service-box.mt-5 h3 {
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.mx-auto.service-box.mt-5 {
    background: #f9e814;
}

div.mx-auto.service-box.mt-5 h3.mb-3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.img_services {
    prpadding-right: 15px;
    padding-left: 15px;
}
